<div class="card mt-3">
  <div class="card-body">
    <form id="codeReaderForm" (ngSubmit)="manualSubmit()">
      <div class="mb-3">
        <button class="btn btn-primary" (click)="toggleMode()" type="button">
          {{ is_scanner_mode ? 'Cambiar a Modo Manual' : 'Cambiar a Modo Scanner' }}
        </button>
      </div>

      <div *ngIf="is_scanner_mode">
        <video></video>
      </div>

      <div *ngIf="!is_scanner_mode">
        <input type="text" [(ngModel)]="manual_code" class="form-control" placeholder="Escriba el código" name="manualCode" />
        <button class="btn btn-primary mt-2" type="submit">Agregar</button>
      </div>
    </form>

    <!-- Lista de códigos detectados -->
    <div class="mt-4">
      <h5>Códigos Detectados:</h5>
      <ul>
        <li *ngFor="let code of detected_codes">{{ code }}</li>
      </ul>
    </div>
  </div>
</div>
